body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.formulario-login {
  padding: 0px 10px;
  width: 300px;
  margin: auto;
}
.iconos {
  text-align: right;
}
.boton {
  margin-top: 20px;
}
